<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Norm Mode - Plum BITS</title>
    <link rel="stylesheet" href="/css/norm.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
</head>
<body>
    <h1 class="page-title">Choose a Domain</h1>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide card" style="background-image: url('/images/gk.jpg');">
                <div class="overlay">
                    <h2>General Knowledge</h2>
                    <img src="/icons/gk-icon.png" alt="GK Icon" class="icon-invert domain-icon">
                </div>
            </div>
            <div class="swiper-slide card" style="background-image: url('/images/sports.jpg');">
                <div class="overlay">
                    <h2>Sports</h2>
                </div>
            </div>
            <div class="swiper-slide card" style="background-image: url('/images/science.jpg');">
                <div class="overlay">
                    <h2>Science</h2>
                </div>
            </div>
            <!-- Add more slides here -->
        </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/norm.js"></script>
</body>
</html>
