<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Plum BITS</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rajdhani:wght@600&family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">



</head>
<body>
  <div class="container">
    <header>
      <div class="plum-overlay"></div>
      <img src="logos/logo.png" alt="Plum Logo" class="logo">

      <div class="plumbits-title">
        <div class="plum-text">Plum</div>
        <div class="bits-text">B<span class="binary-i">0<br>1</span>TS</div>
      </div>
    </header>

    <main>
      <div class="mode-buttons">
        <a href="/norm" class="mode norm">Norm</a>
        <button class="mode enginuity">Enginuity</button>
        <button class="mode explorer">Explorer</button>
        <button class="mode scholar">Scholar</button>
      </div>

      <div class="plum-section">
        <button class="plum-button">PLUM</button>
        <p class="plum-warning">Enter if you dare...</p>
      </div>
    </main>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>
